.footer {
    height: 200px;
    background: #1e1e1e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;

    &__author {
        font-size: 1.2rem;
    }

    &__icon {
        height: 40px;
    }
}