.menu-btn {
  position: absolute;
  cursor: pointer;
  right: 25px;
  top: 25px;
  z-index: 3;
  float: right;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background-color: #fff;
  }
}
