@include mediaXl {
  .menu-btn {
    display: none;
  }

  .project {
    grid-template-columns: 40% 50%;
  }

  .banner {
    a {
      padding: 20px;
      font-size: 2rem;
    }
  }
}

@include mediaLg {
  .navbar {
    display: none;
  }

  .banner {
    a {
      padding: 20px;
      font-size: 4rem;
    }
  }

  .project {
    grid-template-rows: auto auto;
    grid-row-gap: 20px;

    &-description {
      .item,
      .secondary-item {
        text-align: center;
      }
    }
  }
}

@include mediaMd {
  .container {
    margin: 0 3% 3% 5%;
  }

  .navbar {
    display: none;
  }

  .banner {
    a {
      font-size: 1.5rem;
      padding: 10px;
    }
  }

  .project {
    grid-template-rows: auto auto;
    grid-row-gap: 20px;
    padding: 15% 0;

    &-description {
      .item,
      .secondary-item {
        text-align: center;
      }
    }
  }
}

@include mediaSm {
  .container {
    margin: 0 5% 5% 5%;
  }

  .introduction__text {
    padding: 0 5%;
  }

  .navbar {
    display: none;
  }

  .banner {
    a {
      font-size: 1.2rem;
      padding: 10px;
    }
  }

  .home {
    &-introduction {
      padding: 0.5rem;
    }
  }

  h1,
  h2 {
    font-size: 1.2rem;
  }

  h3,
  p {
    font-size: 0.9rem;
  }
}
