@include mediaXl {
  .menu-btn {
    display: none;
  }

  .project {
    grid-template-columns: 40% 50%;
  }

  .banner {
    a {
      padding: 20px;
      font-size: 2rem;
    }
  }
}

@include mediaLg {
  .navbar {
    display: none;
  }

  .banner {
    a {
      padding: 20px;
      font-size: 4rem;
    }
  }

  .project {
    grid-template-rows: auto auto;
    grid-row-gap: 20px;

    &-description {
      .item,
      .secondary-item {
        text-align: center;
      }
    }
  }
}

@include mediaMd {
  .container {
    margin: 0 5%;
  }

  .navbar {
    display: none;
  }

  .banner {
    a {
      font-size: 1.5rem;
      padding: 10px;
    }
  }

  .project {
    grid-template-rows: auto auto;
    grid-row-gap: 20px;
    padding: 15% 0;

    &-description {
      .item,
      .secondary-item {
        text-align: center;
      }
    }
  }

  .footer {
    padding: 10% 5%;
    text-align: center;

    .info-wrapper {
      .footer__info {
        font-size: 0.8rem;
        text-align: center;
      }
    }
  }
}

@include mediaSm {
  .container {
    margin: 0 5%;
  }

  .navbar {
    display: none;
  }

  .banner {
    a {
      font-size: 1.2rem;
      padding: 10px;
    }
  }

  .home__introduction {
    .introduction__text {
      margin: 0;
      padding: 0 5%;
    }

    .introduction__heading {
      font-size: 1rem;
      margin: 0;
    }
  }

  h1,
  h2 {
    font-size: 1.2rem;
  }

  h3,
  p {
    font-size: 0.9rem;
  }

  .about {
    width: 96%;
    padding: 10% 2%;

    &__item {
      font-size: 0.9rem;
    }
  }

  .footer {
    padding: 10% 5%;
    text-align: center;

    .info__wrapper {
      .footer__info {
        font-size: 0.9rem;
      }

      .footer__margin {
        margin-bottom: 1rem;
      }

      .footer__github {
        .footer_link {
          font-size: 0.9rem;
        }
      }
    }
  }
}
