@include mediaXl {
  .menu-btn {
    display: none;
  }

  .project {
    grid-template-columns: 40% 50%;
  }

  .banner {
    a {
      padding: 20px;
      font-size: 2rem;
    }
  }
}

@include mediaLg {
  .navbar {
    display: none;
  }

  .project {
    grid-template-rows: auto auto;
    grid-row-gap: 20px;

    &-description {
      text-align: center;
    }
  }

  .banner {
    a {
      font-size: 1.5rem;
      padding: 10px;
    }
  }
}

@include mediaMd {
  .navbar {
    display: none;
  }

  .banner {
    a {
      font-size: 1.5rem;
      padding: 10px;
    }
  }

  .project {
    grid-template-rows: auto auto;
    grid-row-gap: 20px;

    &-description {
      text-align: center;
    }
  }
}

@include mediaSm {
  .navbar {
    display: none;
  }

  .banner {
    a {
      font-size: 1.2rem;
      padding: 10px;
    }
  }

  .home {
    &-introduction {
      padding: 0.5rem;
    }
  }

  h1,
  h2 {
    font-size: 1rem;
  }

  h3,
  p {
    font-size: 0.8rem;
  }
}
