.project {
  height: 40%;
  width: 100%;
  display: grid;
  grid-column-gap: 10%;
  padding: 15% 0;
  border-bottom: 1px solid rgba($secondary-color, 0.3);

  &.first {
    padding-top: 5%;
  }

  &-description {
    .description-header {
      color: $primary-color;
      margin-bottom: 0;
    }

    .technologies-header {
      color: $secondary-color;
      width: 80%;
      margin: 0.6rem 0;
      border-bottom: 1px solid rgba($secondary-color, 0.3);
    }

    .project-technologies {
      margin-top: 0;
      list-style: none;

      li {
        color: $secondary-color;
        padding: 0.5rem;
      }

      li:before {
        content: "✓";
        color: $primary-color;
        padding-right: 10px;
      }
    }

    .description-grid {
      display: grid;
      grid-template-columns: 48% 48%;
      grid-column-gap: 4%;
      margin-bottom: 0.5rem;

      .btn {
        text-align: center;
        padding: 10px;
        border: 2px solid $primary-color;
        border-radius: 5px;
        color: $primary-color;

        &:hover {
          @include easeOut;
          background: $primary-color;
          color: #fff;
        }
      }
    }
    .unavaible {
      display: inline-block;
      padding: 10px;
      border: 2px solid $secondary-color;
      border-radius: 5px;
    }
  }

  &-image {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: 95%;
      box-shadow: 3px 3px 4px #ccc;
      border: 0.5px solid #ccc;
      border-radius: 5px;
    }
  }
}
