@import "config";
@import "navbar";
@import "side-menu";
@import "menu-button";
@import "mobile";

.item {
  margin: 10px 0;
}

.App {
  .home {
    background: url("../imgs/background.jpeg");
    background-attachment: fixed;
    background-size: cover;
    height: 75vh;
    &-introduction {
      text-align: center;
    }
  }

  .overlay {
    top: 0;
    right: 0;
    width: 100%;
    height: 75vh;
    background: rgba($primary-color, 0.5);

    .banner {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 100px;
      color: #fff;

      a {
        margin-top: 25px;
        padding: 20px;
        color: #fff;
        font-size: 2rem;
        border: 1px solid #fff;
        border-radius: 5px;

        &:hover {
          @include easeOut;
          cursor: pointer;
          background: #fff;
          color: $primary-color;
          border: 1px solid $primary-color;
        }
      }
    }
  }
}
.container {
  margin: 0 15%;
}
.project {
  height: 40%;
  width: 100%;
  display: grid;
  grid-column-gap: 5%;
  padding: 15% 2.5%;

  border-bottom: 1px solid $secondary-color;

  &-description {
    a {
      display: inline-block;
      padding: 10px;
      border: 2px solid $primary-color;
      color: $primary-color;
      border-radius: 5px;

      &:hover {
        @include easeOut;
        background: $primary-color;
        color: #fff;
      }
    }
  }

  &-image {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: auto;
      box-shadow: 3px 3px 4px #ccc;
      border: 0.5px solid #ccc;
      border-radius: 5px;
    }
  }

  &.last {
    margin-bottom: 0;
  }
}

.contact {
  width: 100%;
  padding: 5vh 15%;
}

footer {
  height: 100px;
  background: $secondary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
